<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<form th:fragment="login-form" method="post" th:action="@{/login}" class="">
    <!-- input type="hidden" name="action" value="create" / -->
    <div class="mt-4 mb-4">
        <label for="username" class="form-label">username:</label>
        <input name="username" class="form-control" id="username" type="text" autofocus required />
    </div>
    <div class="mt-4 mb-4">
        <label for="password" class="form-label">Password:</label>
        <input name="password" class="form-control" id="password" type="password" required />
    </div>
    <div class="mb-2">
        <input type="submit" class="btn btn-primary" />
    </div>
</form>
</body>
</html>