<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: commonHead">
    <title id="title">Create new Wishlist</title>
</head>
<body>
<header th:replace="fragments/header :: commonHeader(activePage='create-wishlist')"></header>
<div class="container">
    <div class="">Create a brand new wishlist</div>
    <form method="GET" action="/wishlist" class="">
        <input type="hidden" name="action" value="create" />
        <div class="mt-4 mb-4">
            <label for="name" class="form-label">Name:</label>
            <input name="name" class="form-control" id="name" type="text" />
        </div>
        <div class="mb-2">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>
<footer th:replace="fragments/footer :: commonFooter"></footer>
</body>
</html>