<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: commonHead">
    <title id="title">Wishlist</title>
</head>
<body id="frontpage">
<header th:replace="fragments/header :: commonHeader"></header>
<div class="container">
    <div class="row">
        <div class="col" th:each="wl : ${wishlists}">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <a th:href="@{/wishlist(id=${wl.getId()})}" th:text="${wl.getName()}"></a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="wish : ${wl.getWishes()}" th:text="${wish.getName()}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: commonFooter"></footer>
</body>
</html>