<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: commonHead">
    <title id="title">Wishlist - Home</title>
</head>
<body>
<header th:replace="fragments/header :: commonHeader(activePage='home')"></header>
<div class="container">
    <!-- TODO: Add th:if user logged in -->
    <h1 class="text-center mb-5">Welcome back [user.name]</h1>
    <!-- Content here -->
    </div>
</div>
<footer th:replace="fragments/footer :: commonFooter"></footer>
</body>
</html>