<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${wishlist.getName()}"></title>
</head>
<body>
<h2 th:text="${wishlist.getName()}"></h2>
<table id="wishes">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>URL</th>
    </tr>
    <tr th:each="wish : ${wishlist.getWishes()}">
        <td th:text="${wish.getId()}"></td>
        <td th:text="${wish.getName()}"></td>
        <td th:text="${wish.getUrl()}"></td>
    </tr>
</table>
</body>
</html>